$base-font-family: 'Work Sans', sans-serif;
$base-font-size:   20px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.7;

$spacing-unit:     30px;
$light-gray: rgba(71, 179, 156, 0.916);
$text-color:       #333;
$background-color: #FFC154;
$brand-color:      #47b39c;
$projectbox-text:  #EC6B56;
